# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
dist-ssr/
*.local
*.js.map

# Testing artifacts
coverage/
cypress/videos/
cypress/screenshots/

# System files
.DS_Store

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.ntvs*
*.suo
*.sln
*.njsproj
*.sw?

# Environment files
.env
.env.*.local

# Vite-specific
.vite/

# Tailwind CSS JIT
.tailwind/

# TypeScript
*.tsbuildinfo

# Finais de linha para evitar problemas
* text=auto
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf

# Ignorar arquivos específicos do projeto
/cypress/videos/
/cypress/screenshots/
.vscode/*
!.vscode/extensions.json
